<div>
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let movie of moviesList">
            <div class="gridTile">
                <div><img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}"></div>
                <div [ngStyle]="{'background-color': movie.adult === true ? 'red' : 'green'}">
                    {{ movie.title }}
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="moviesList.length < 1">
        No hay peliculas
    </div>
</div>

