<div class="general">
    <div >
        <img src="../../../assets/images/cabecera.jpg">
    </div>
    <h2>Popular en Peliculas</h2>
    <div class="peliculas">
        <div *ngFor="let movie of moviesList" class="pelicula">
            <button mat-button [routerLink]="['/pelicula', movie.id]"><img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}"></button>
        </div>
    </div>
    <h2>Popular en Series</h2>
    <div class="series">
        <div *ngFor="let serie of seriesList" class="serie">
            <button mat-button routerLink="/serie" (click)="sendParams(serie.id, serie.name)"><img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{serie.poster_path}}"></button>
        </div>
    </div>
</div>