.general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.peliculas {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.series {
     display: flex;
    justify-content: center;
    flex-direction: row;
}
.pelicula {
    margin-bottom: 5px;
}

.serie {
    margin-bottom: 10px;
}