<app-loading *ngIf="loading"></app-loading>

<div class="content">
    <div class="cards">
        <button mat-button [routerLink]="['/pelicula', movie.id]" *ngFor="let movie of moviesList">
            <mat-card class="card" >
                <img mat-card-image *ngIf="movie.poster_path !== null" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}">
                <img mat-card-image *ngIf="movie.poster_path === null" src="../../../assets/images/peliculaSin.fw.png">
                <mat-card-content>
                    <p>
                        <b>{{ movie.title }}</b>
                    </p>
                    <p> {{movie.release_date}}</p>
                </mat-card-content>
            </mat-card>
        </button>
        <div *ngIf="moviesList.length < 1">
            No hay peliculas
        </div>
    </div>
    <div class="buttonMas" *ngIf="moviesList.length > 1 && page < pages" (click)="getMasPeliculas()">
            <button mat-raised-button color="primary">Ver más películas</button>
    </div>
</div>