<div class="form-group">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="form">
        <mat-form-field class="username">
            <mat-label>Usuario</mat-label>
            <input matInput 
            type="text" 
            name="username" 
            [class.is-invalid] = "username.invalid && username.touched"
            [(ngModel)]="usuario.username" 
            placeholder="username"
            #username="ngModel"
            required>
        </mat-form-field>
        <small *ngIf="username.invalid && username.touched" [ngStyle]="{ 'color': 'red' }">El nombre de usuario es obligatorio</small>

        <mat-form-field class="password">
            <mat-label>Password</mat-label>
            <input matInput 
            type="password" name="password" 
            [class.is-invalid] = "password.invalid && password.touched"
            [(ngModel)]="usuario.password" 
            placeholder="password"
            #password="ngModel"
            required>
        </mat-form-field>
        <small *ngIf="password.invalid && password.touched" [ngStyle]="{ 'color': 'red' }">El password es obligatorio</small>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>